body {
  border-top: 10px solid $secondary-color;
}

header {
  font-family: serif;
  font-size: rem-calc(24);
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 20px;
  a {
    color: $black;
  }
  .logo {
    padding-top: 10px;
  }
}

.hero {
    background: url('/themes/custom/agc_9/images/agc_dancers_02.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid $light-gray;
    position: relative;

    .slide {
        position: relative;
        @include breakpoint(medium down) {
            height: 300px;
          }
          @include breakpoint(large up) {
            height: 532px;
          }
          @include breakpoint(xxlarge up) {
            height: 532px;
          }

        .slide__text {
            background: $secondary-color;
            bottom: 0;
            color: $white;
            padding: 20px 0 5px 25px;
            position: absolute;
            .slide__title {
              font-style: italic;
              font-family: serif;
              font-weight: 700;
            }
            .slide__title_name {
              display: table;
              font-size: rem-calc(40);
              font-style: normal;
              font-weight: 600;
              text-transform: uppercase;
            }
        }
    }
}



.stat-block {
  text-align: center;
  color: $primary-color;
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 50px;
  .stat {
    font-size: rem-calc(30);
    padding: 50px 20px;
  }
  .stat-number {
    font-size: rem-calc(80);
    font-weight: 700;
    padding-bottom: 10px;
  }
  .center {
    border-left: 1px solid $primary-color;
    border-right: 1px solid $primary-color;
  }
}

.difference {
  background-color: $primary-color;
  color: $white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  .title {
    font-size: rem-calc(48);
    font-weight: 700;
  }
  .text {
    font-size: rem-calc(22);
  }
  .cta {
    margin-top: 20px;
    .button {
      color: $primary-color;
      font-size: rem-calc(28);
      font-weight: 700;
      padding: 15px 50px;
      text-transform: uppercase;
    }
  }
}


.info {
  margin-top: 100px;
  @include breakpoint(small only) {
    margin-top: 50px;
  }
  .row {
    margin-bottom: 50px;
  }
  h2 {
    font-size: rem-calc(36);
    font-weight: 300;
    color: $primary-color;
  }
  p {
    font-size: rem-calc(18);
  }
}

footer {
  background-color: $primary-color;
  min-height: 50px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  color: $white;
  p {
    margin: 0;
  }
}
