{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>
    <aside id="left-off-canvas-menu" class="off-canvas left-off-canvas-menu position-left" role="complementary" data-off-canvas>
      {{ page.left_off_canvas }}
    </aside>

    <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" role="complementary" data-off-canvas>
      {{ page.right_off_canvas }}
    </aside>

    <div class="off-canvas-content" data-off-canvas-content>
      {% if page.meta_header %}
        {% if meta_header_grid %}
          <div class="row">
            <div class="large-12 columns">
        {% endif %}
        {{ page.meta_header }}
        {% if meta_header_grid %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      <header class="row" role="banner" aria-label="{{ 'Site header'|t }}">
        <div class="large-4 small-8 columns logo">
          <a href="/" title="Any Given Child Fresno County Home"><img alt="Any Given Child Fresno County logo" title="Any Given Child Fresno County Home" class="logo" src="/themes/custom/agc_9/images/agc-logo.png" typeof="foaf:Image">
          </a>
        </div>

        <div class="large-2 large-offset-6 small-3 small-offset-1 columns testing">
          <img alt="Kennedy Center - A KC Education Program logo" class="kc-logo" src="/themes/custom/agc_9/images/kc-logo.png" typeof="foaf:Image">
        </div>


      </header>

      <div class="hero">
        <div class="slides">
          <div class="slide slide--first small-collapse row">
            <div class="slide__text large-5 large-offset-7 columns">
              <h3 class="slide__title">Ensuring the Arts for <span class="slide__title_name">Any Given Child</span></h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        {% if show_account_info %}
          <div class="{{ site_slogan ? 'large-6' : 'large-4 columns large-offset-8' }} columns hide-for-small">
            <p>
              {% if logged_in %}
                <a href="{{ path('user.page') }}">{{ 'My Account'|t }}</a>
                <a href="{{ path('user.logout') }}">{{ 'Logout'|t }}</a>
              {% else %}
                <a href="{{ path('user.login') }}">{{ 'Login'|t }}</a>
                <a href="{{ path('user.register') }}">{{ 'Sign Up'|t }}</a>
              {% endif %}
            </p>
          </div>
        {% endif %}
        {% if site_slogan %}
          <div class="large-6 columns hide-for-small">
            {{ site_slogan }}
          </div>
        {% endif %}
        {% if show_account_info %}
          <div class="show-for-small">
            <div class="six mobile-two columns">
              <p>
                <a href="{{ path('user.login') }}" class="radius button">{{ 'Login'|t }}</a>
              </p>
            </div>
            <div class="six mobile-two columns">
              <p>
                <a href="{{ path('user.register') }}" class="radius success button">{{ 'Sign Up'|t }}</a>
              </p>
            </div>
          </div>
        {% endif %}
      </div>

      {% if messages and not zurb_foundation_messages_modal %}
      <div class="l-messages row">
        <div class="large-12 columns">
          {{ messages }}
        </div>
      </div>
      {% endif %}

      {% if page.help %}
      <div class="l-help row">
        <div class="large-12 columns">
          {{ page.help }}
        </div>
      </div>
      {% endif %}

      <section class="stat-block">
        <div class="row">
          <div class="large-4 columns stat">
            <div class="stat-number">$1M</div>New district arts funding
            </div>
            <div class="large-4 columns stat center">
              <div class="stat-number">450</div>Arts workshops
            </div>
            <div class="large-4 columns stat">
            <div class="stat-number">6,169</div>Teachers trained in arts integration
          </div>
        </div>
      </section>

      <section class="difference">
        <div class="row">
          <div class="hold">
            <div class="title columns small-12 large-6 large-centered">
              Make a Difference
            </div>
            <div class="text columns small-10 small-offset-1 large-7 large-centered">
              Your donation will help expand arts education for Pre-K - 8 students in Fresno County's Any Given Child schools.
            </div>
            <div class="cta columns small-12 large-3 large-centered">
              <a href="#" class="button alert donate donate_now agc-title" >Donate</a>
                <form id="donate_now" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="GNMPZBY3MZ2J2">
                </form>
            </div>
          </div>
        </div>
      </section>


      <section class="info">

      <div class="row">
        <div class="large-5 large-offset-1 small-10 small-offset-1 columns">
        <h2>The Arts are Important to Fresno County</h2>
        <p>Research shows that high quality arts programs offer incredible benefits to students, schools and communities: better attendance, higher grades, improved test scores, higher engagement, brighter job prospects, and more self-confidence to name just a few. Together, the Any Given Child partners and communities throughout Fresno County are committed to ensuring that every Pre-K-8 grade student in an Any Given Child, Fresno County school has a complete arts education as part of their ongoing public school experience.</p>

        </div>
        <div class="large-5 large-offset-1 small-9 small-offset-1 end columns"><img src="/themes/custom/agc_9/images/agc_1.jpg"></div>

      </div>

      <div class="row">

        <div class="small-10 small-offset-1 large-5 large-push-6 columns">
        <h2>The Birth of Our Initiative</h2>
        <p>In September of 2012, Fresno became the tenth national site for the John F. Kennedy Center’s Any Given Child Initiative. The vision of the Kennedy Center’s President Michael Kaiser is that an entire community should be engaged in addressing the need for access and equity to arts education for students across an entire school district. The Any Given Child program is designed to assist a community in planning strategically to provide a high quality arts education for every K-8 student using the existing resources of the school district, city government and the local arts community aided by the Kennedy Center. Because of the high level of community support and Fresno Unified School District's commitment to improving its arts education program, the district was encouraged to apply for this prestigious national program.</p>
        </div>

        <div class="small-10 small-offset-1 large-5 large-pull-6 end columns"><img src="/themes/custom/agc_9/images/agc_2.jpg"></div>
      </div>


      </section>



        <footer>
          <div class="row">
          
            <div class="columns large-3 large-offset-9 small-8 small-offset-2">
              <p>Made possible by</p>
              <img src="/themes/custom/agc_9/images/tkc_white.png" alt="The Kennedy Center">
            </div>
          </div>
        </footer>


        </div>
      </div>
    </div>
  </div>
</div>
